{% extends "base.html" %}

{% block title %}
   <title>ฟอร์ม</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">รายชื่อสมาชิก</h1>  

    <div class="card mx-auto" style="max-width: 400px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="mb-1">นาย อธิป ยกย่องสกุล</h5>
                <p class="mb-1">09610922 ชั้นปีที่ 4</p>
            </li>
            <li class="list-group-item">
                <h5 class="mb-1">นาย พลพล คำแท่ง</h5>
                <p class="mb-1">630910180 ชั้นปีที่ 4</p>
            </li>
            <li class="list-group-item">
                <h5 class="mb-1">นาย วิศวกร ศรีสุนทร</h5>
                <p class="mb-1">630910189 ชั้นปีที่ 4</p>
            </li>
            <li class="list-group-item">
                <h5 class="mb-1">นาย สรศักดิ์ กิทำ</h5>
                <p class="mb-1">630910192 ชั้นปีที่ 4</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
