{% extends "base.html" %}

{% block title %}
    <title>แบบฟอร์มเเก้ไข</title>
{% endblock %}

{% block content %}
<div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h2 class="text-center">แบบฟอร์ม</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="name">วันอะไร</label>
      <input type="text" name="name" class="form-control"value ="{{person.name}}">
      </div>
      <div class="form-group mb-3">
        <label for="age">วัน เดือน ปี</label>
        <input type="text" name="age" class="form-control"value ="{{person.age}}">
      </div>
      <input type="submit" value="อัพเดตข้อมูล" class="btn btn-success">
    </form>

{% endblock %}