<!-- signup.html -->

{% extends 'base.html' %}

<a href="{% url 'signup' %}" style="text-decoration: none; color: #343a40; font-size: 18px; margin-right: 20px;">Signup</a>


{% block content %}
    <h2 style="color: rgb(255, 255, 255);">สมัครสมาชิก</h2>
    <form method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Signup</button>
    </form>

{% endblock %}
